<!-- views/profile.ejs -->
<%- include header %>


	<div class="row">	
		<!-- LOCAL INFORMATION -->
				<h3><span class="fa fa-user"></span>Welcome! <%= user.local.username %></h3>

	</div>
	
	<table border="0" width="100%">
		<tr>
		<td width="25%">
			<a href="/createroom" class="btn btn-default btn-sm">Create Room</a>
		</td>
		<td width="40%">&nbsp;</td>
		<td width="35%">
			<form action="/whiteboard" method="get">
			Go to whiteboard room:
				<input type="text" name="id">
				<input type="submit" value="Submit">
			</form>	
		</td>
		</tr>
	</table>
	<br><br>
	
	<table cellspacing="0" cellpadding="0" width="100%" style='table-layout : fixed'>
		<tbody id="roomInfoDisplay">
			<tr>
				<td width="8%"></td>
				<td width="10%"><strong>Room ID</strong></td>	
				<td width="10%"><strong>Host</strong></td>	
				<td width="30%"><strong>Create Date</strong></td>	
				<td width="42%"><strong>User using the room</strong></td>
			</tr>	
		</tbody> 
	</table>
</div>

	<style>
		#popup_error{
		text-align: center;
		color: #000000;
		background: #E8E8E2;
		display: none;
		position: fixed;
		top: 80%;
		left: 40%;
		width: 200px;
		height: 40px;
		border: 5px solid silver;
		border-radius: 18px;
		-webkit-border-radius: 18px;
		-moz-border-radius: 18px;
		opacity: 0.6;
		}
		#popup_error{
			font-size: 14pt;
			color: #000000;
		}
	</style>

	<div id="popup_error">Room Not Found!</div>

</body>
</html>

<script>
	function errorLog(){
		$("#popup_error").fadeIn(500);
		$("#popup_error").delay(1000).fadeOut(500);
	}
	<%if(errorMessage){%>
		errorLog();
	<%}%>
	var template = document.getElementById('roomInfoDisplay').innerHTML;
	
	$(document).ready(function() {	
		displayRoom();
		setInterval( displayRoom, 2000 );
	});
	
	function displayRoom(){			
		$.ajax({
			url: 'roomInfo',
			type: 'GET',
			success: function (data) {
				//var ret = jQuery.parseJSON(data);
				//console.log('Success: ', data);
				document.getElementById('roomInfoDisplay').innerHTML = template + data;
			},
			error: function (xhr, status, error) {
				//console.log('Error: ' + error.message);
			},
		});
	}
</script>