html {
	text-align:left;
	background-color: #E8E8E2;
}

body{
	background-color: #E8E8E2;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

h1{
    font-size: 16pt;
    margin: 0px;
	color: #ffffff;
}

p{
    margin: 0px;
	color: #000000;
}

canvas{
    cursor: crosshair;
}

#container{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	float:left;
	overflow: scroll;
	overflow-scrolling: touch;
}

#imageTemp{
	position: absolute;
	top: 0px;
	left: 0px;
}

#canvasInterface{
    border:1px solid red;
    cursor:url("http://www.useragentman.com/examples/cursor/canvasPainter/canvas_painter_v0.1/images/gimpBrush.png") 0 32,crosshair;
}