#cssmenu {
font-size: 20;
}
#cssmenu ul {
  margin: 0;
  padding: 0;
  font-size: 14px;
  background: #585858 url(images/overlay.png) repeat-x 0 -110px; 
  line-height: 100%;
  border-radius: 1em;
  font: normal 0.5333333333333333em Arial, Helvetica, sans-serif;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); 
  width: 100%;
}
#cssmenu li {
  margin: 0px 2px;
  padding: 0;
  float: left;
  position: relative;
  list-style: none;
  margin-left:auto;
  margin-right:auto;
  font-size: 12pt;
  color: #ffffff;
}
#cssmenu a,
#cssmenu a:link {
  font-weight: bold;
  font-size: 13px;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 0px 3px;
  margin: 2px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}
#cssmenu a:hover {
  background: #000;
  color: #fff;
}

#cssmenu li:hover > a ,
#cssmenu .active{
  background: #A4A4A4 url(images/overlay.png) repeat-x 0 -40px; 
  color: #444;
  border-top: solid 1px  #f8f8f8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 0 1px 0 #ffffff;
  z-index: 1;
}
#cssmenu ul ul li:hover a,
#cssmenu li:hover li a {
  background: none;
  border: none;
  color: #666;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  z-index: 1;
}
#cssmenu ul ul a:hover {
  background: #A4A4A4 url(images/overlay.png) repeat-x 0 -40px !important;
  color: #fff !important; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
#cssmenu li:hover > ul {
  display: block;
  z-index: 1;
}
#cssmenu ul ul {
  display: none;
  margin: 0px;
  padding: 0px;
  width: 50px;
  position: absolute;
  top: 43px;
  left: 0px;
  background: #585858 url(images/overlay.png) repeat-x 0 0;
  border: solid 1px #b4b4b4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
#cssmenu ul ul li {
  float: none;
  z-index: 1;
}
#cssmenu ul ul a,
#cssmenu ul ul a:link {
  font-weight: normal;
  font-size: 12px;
  z-index: 1;
}
#cssmenu ul:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu button{
	padding: 1px;
}
* html #cssmenu ul {
  height: 1%;
}
