#wrap{
	height: 90vh;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */

#control{
	max-height: 20%;
	min-height: 61px;
}

/* ~~ the header is not given a width. It will extend the full width of your layout. It contains an image placeholder that should be replaced with your own linked logo ~~ */
.header {
	background-color: #999;
	width: 100%;
	z-index: 9;
	height: 5%;
	max-height: 36px;
}

.content {
	height: 85%;
	width: 75%;
	float: left;
	position: absolute;
	background: #E8E8E2;
}
.sidebar2 {
	height: 85%;
	width: 24.2%;
	padding-left: 10px;
	text-align: left;
	float: left;
	position: absolute;
	left:75%;
	background: #E8E8E2;
	
}

.nav {
	list-style: none;
	padding-left: 15px;
}
.nav > li{
	margin-top: 5px;
}


/* ~~The footer ~~ */
.footer {
	padding-left: 10px;
	background-color: #6F7D94;
	position: relative;/* this gives IE6 hasLayout to properly clear */
	clear: both; /* this clear property forces the .container to understand where the columns end and contain them */
}
